td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color:none;
}

th[scope="col"] {
    background-color: #ffffff;
    color: black;
}

th[scope="row"] {
    background-color: #ffffff;
}
th[scope="row1"] {
   font-weight: 500;
}
caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
.cart{
    background: #3a3a3a !important;
    color: white !important;
    width: 51.7%;
    margin-top: 15px !important;
    border-radius:0px !important
}
.StripeElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  .orderr{
    background: #3a3a3a !important;
    color: white !important;
    width: 13em !important;
    height: 3em !important;
    margin-top: 21px !important;
  }
  Button.cart:hover{
     background-color:#e89f71 !important;
  }
  Button.orderr:hover{
    background-color:#e89f71 !important;
  }
  Button.successhover:hover{
    background-color:#e89f71 !important;
  }
  .bordercss{
        margin-left: 10px;
        border-right-style: dashed;
        border-width: thin;
        border-right-color: #bbb6b6;
  }
  .bordercsss{
    margin-left: 10px;
  }
  .fontSizee{
    font-size: 13px;
  }
  .paymentcss{
    font-weight: 500;
    color:#ff0505;
  }
  .paymentcss2{
    font-weight: 600;
  }
  .billing{
    margin-left: 18px;
    font-size: 15px;
  }
  .billing1{
    margin-left: 18px;
    font-size: 15px;
    color: #777;
  }
  .carttt {
    text-align: end;
    margin-right: 25px;
}
.StripeElement.StripeElement--empty {
  margin-bottom: 30px !important;
}
.StripeElement.StripeElement--complete {
  margin-bottom: 30px !important;
}